<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetoothの接続状態を確認するための権限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- 正確な位置情報を取得するための権限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <!-- フォアグラウンドサービスを実行するための権限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 13以降で通知を表示するための権限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_splash_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_splash_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaceFace">
        
        <service
            android:name=".LocationTrackingService"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false" />
        
        <activity android:name=".HomeScreenActivity" android:exported="false" />
        <activity
            android:name=".DeviceConnectionGuideScreenActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationCompleteScreenActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationConfirmationScreenActivity"
            android:exported="false" />
        <activity
            android:name=".UserRegistrationScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HelpScreenActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".HistoryScreenActivity"
            android:exported="false" />

        <activity
            android:name=".BadgeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PaceFace.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserSettingsScreenActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ProximityHistoryScreenActivity"
            android:exported="false" />
        <activity
            android:name=".AccountDeletionConfirmationScreenActivity"
            android:exported="false" />
       　　　<activity
        android:name=".AccountDeletionCompleteScreenActivity"
        android:exported="false" />
        　　　　　
        <activity
            android:name=".UserInfoViewScreenActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".PasswordChangeScreenActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".PasswordChangeCompleteScreenActivity"
            android:exported="false" />
        <activity

            android:name=".ExpressionCustomizationScreenActivity"
            android:exported="true" />
        <activity
            android:name=".ExpressionChangeCompleteScreenActivity"
            android:exported="true" />
        <activity
            android:name=".AboutScreenActivity"
            android:exported="true" />
        <activity
            android:name=".SelectionScreenActivity"

            android:exported="true" />
    </application>

</manifest>
